:root {
    --background-color: #f2f7ff;
    --background-color-secondary: #fff;
    --text-color-primary: #000;
    --text-color-secondary: #7c8db5;
    --placeholder-color:#838383;
    --border-color:#35354f;
    --text-color-link:#4a4a4f;
    --text-color-link-hover:#25396f;
    --text-color-link-active:#fff;
    --text-color-icon:#737380;
    --text-color-icon-hover:#25396f;
    --text-color-icon-active:#fff;
    --background-color-link-hover:rgb(240, 241, 245);
    --background-color-link-active:#435ebe;

    --background-color-scrollbar: #F5F5F5;
    --background-color-scrollbar-secondary:#aaaaaa67;
  }
  html[data-theme="light"] {
    --background-color: #f2f7ff;
    --background-color-secondary: #fff;
    --text-color-primary: #000;
    --text-color-secondary: #7c8db5;
    --placeholder-color: #838383;
    --border-color: #35354f;
    --text-color-link: #4a4a4f;
    --text-color-link-hover: #25396f;
    --text-color-link-active: #fff;
    --text-color-icon: #737380;
    --text-color-icon-hover: #25396f;
    --text-color-icon-active: #fff;
    --background-color-link-hover: rgb(240, 241, 245);
    --background-color-link-active: #435ebe;
  
    --background-color-scrollbar: #f5f5f5;
    --background-color-scrollbar-secondary: #aaaaaa67;
  }
  html[data-theme='dark'] {
    --background-color: #211815;
    --background-color-secondary: #1e1e2d;
    --text-color-primary: #f2f2f2;
    --text-color-secondary: #c2c2d9;
    --placeholder-color:#a5a5a5;
    --border-color:#35354f;
    --text-color-link:#9899ac;
    --text-color-link-hover:#25396f;
    --text-color-icon-hover:#7c8db5;
    --background-color-link-hover:#282839;
  }

div::-webkit-scrollbar {
    width: 5px;
    background-color: var(--background-color-scrollbar);
}

div::-webkit-scrollbar-thumb {
    border-radius: 2px;
    width: 5px;
    background-color: var(--background-color-scrollbar-secondary);
}

.wrapper .sidebar {
    background: var(--background-color-secondary);
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    padding: 20px 0;
    overflow: auto;
    transition: all 0.5s ease;
}

.wrapper .sidebar li {
    /* padding-left: 15px; */
    padding-right: 30px;
}

.wrapper .sidebar ul li a {
    display: block;
    padding: 13px 30px;
    border-radius: 0.5rem;
    font-size: 13px;
    position: relative;
    color: var(--text-color-link);
    text-decoration: none;
}

.wrapper .sidebar ul li a .icon {
    color: var(--text-color-icon);
    /* width: 30px; */
    display: inline-block;
    padding-right: 8px;
}

.wrapper .sidebar ul li:not(.active) a:hover {
    background-color: var(--background-color-link-hover);
    color: var(--text-color-link-hover);
}

.wrapper .sidebar ul li a.active {
    color: var(--text-color-link-active);
    background: var(--background-color-link-active);
}

.wrapper .sidebar ul li a:hover .icon {
    color: var(--text-color-icon-hover);
}

.wrapper .sidebar ul li.active a .icon {
    background: var(--background-color-link-active);
    color: var(--text-color-icon-active);
}

.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before {
    display: block;
}

.wrapper .sidebar .profile {
    text-align: center;
}

.wrapper .sidebar .profile img {
    display: block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 0 auto;
}

.wrapper .sidebar .profile p {
    font-weight: bold;
    color: #5444ab;
    font-size: 14px;
    margin-top: 20px;
}
.night-mode-icon{
    margin-top: 7px;
}
.ligth-mode-icon{
    margin-top: 0.5rem!important;
    padding-left: 25px;
}


i,
span[class^="fab"] {
    margin-right: 10px !important;
    font-size: 1rem;
}
i,
span[class="fa fa-angle-down"] {
    margin-left: 8px;
}

/* .sidebar-item.has-sub > .sidebar-link:after {
    position: absolute;
    content: "\f107";
    color: #ccc;
    right: 15px;
    top: 12px;
    display: block;
} */
.sidebar-item.active > .sidebar-link {
    background-color: var(--background-color-link-active);
    color: var(--text-color-link-active);
}
.submenu-item.active > .submenu-link {
    background-color: var(--background-color-link-active);
    color: var(--text-color-link-active)white;
}
.sidebar ul{
    padding-left: 4px !important;
}


/* Dark Mode */

html[data-theme="dark"] .sidebar {
    background-color: var(--background-color-secondary);
  }
  html[data-theme="dark"] .wrapper .sidebar .sidebar-item .sidebar-link {
    color: var(--text-color-link) !important;
  }
  html[data-theme="dark"] .wrapper .sidebar ul li:not(.active) a:hover {
    background-color: var(--background-color-link-hover);
  }
  html[data-theme="dark"] .wrapper .sidebar ul li.active a {
    color: var(--text-color-primary) !important;
  }
  html[data-theme="dark"] .wrapper .sidebar .sidebar-item.active > .sidebar-link span {
      color: var(--text-color-primary);
  }
  
  html[data-theme="dark"] .wrapper .sidebar ul li:not(.active) a:hover .icon {
    color: var(--text-color-icon-hover);
  }
  