:root {
  --background-color: #f2f7ff;
  --background-color-secondary: #fff;
  --text-color-primary: #000;
  --text-color-secondary: #7c8db5;
  --placeholder-color: #838383;
  --border-color: #35354f;
  --text-color-link: #4a4a4f;
  --text-color-link-hover: #25396f;
  --text-color-link-active: #fff;
  --text-color-icon: #737380;
  --text-color-icon-hover: #25396f;
  --text-color-icon-active: #fff;
  --background-color-link-hover: rgb(240, 241, 245);
  --background-color-link-active: #435ebe;

  --background-color-scrollbar: #f5f5f5;
  --background-color-scrollbar-secondary: #aaaaaa67;
}
html[data-theme="light"] {
  --background-color: #f2f7ff;
  --background-color-secondary: #fff;
  --text-color-primary: #000;
  --text-color-secondary: #7c8db5;
  --placeholder-color: #838383;
  --border-color: #35354f;
  --text-color-link: #4a4a4f;
  --text-color-link-hover: #25396f;
  --text-color-link-active: #fff;
  --text-color-icon: #737380;
  --text-color-icon-hover: #25396f;
  --text-color-icon-active: #fff;
  --background-color-link-hover: rgb(240, 241, 245);
  --background-color-link-active: #435ebe;

  --background-color-scrollbar: #f5f5f5;
  --background-color-scrollbar-secondary: #aaaaaa67;
}
html[data-theme="dark"] {
  --background-color: #211815;
  --background-color-secondary: #1e1e2d;
  --text-color-primary: #f2f2f2;
  --text-color-secondary: #c2c2d9;
  --placeholder-color: #a5a5a5;
  --border-color: #35354f;
  --text-color-link: #9899ac;
  --text-color-link-hover: #25396f;
  --text-color-icon-hover: #7c8db5;
  --background-color-link-hover: #282839;
}

html[data-theme="dark"] body {
  background-color: var(--background-color);
  color: var(--text-color-primary) !important;

  /* --text-secondary: #a7a4a4;
    --accent: #6a5acd;
    --accent-hover: #5b4cbe; 
    --border: #696969;
    --shadow: 7px 15px 13px -4px #ffffff1b; */

  /* CKEDITOR */
  --ck-color-base-foreground: hsl(0, 0%, 98%);
  --ck-color-base-background: var(--background-color-secondary);
  /* Overrides the border radius setting in the theme. */
  --ck-border-radius: 4px;

  /* Overrides the default font size in the theme. */
  --ck-font-size-base: 14px;

  /* Helper variables to avoid duplication in the colors. */
  --ck-custom-background: hsl(270, 1%, 29%);
  --ck-custom-foreground: hsl(255, 3%, 18%);
  --ck-custom-border: hsl(300, 1%, 22%);
  --ck-custom-white: hsl(0, 0%, 100%);

  /* -- Overrides generic colors. ------------------------------------------------------------- */

  --ck-color-base-foreground: var(--ck-custom-background);
  --ck-color-focus-border: hsl(208, 90%, 62%);
  --ck-color-text: hsl(0, 0%, 98%);
  --ck-color-shadow-drop: hsla(0, 0%, 0%, 0.2);
  --ck-color-shadow-inner: hsla(0, 0%, 0%, 0.1);

  /* -- Overrides the default .ck-button class colors. ---------------------------------------- */

  --ck-color-button-default-background: var(--ck-custom-background);
  --ck-color-button-default-hover-background: hsl(270, 1%, 22%);
  --ck-color-button-default-active-background: hsl(270, 2%, 20%);
  --ck-color-button-default-active-shadow: hsl(270, 2%, 23%);
  --ck-color-button-default-disabled-background: var(--ck-custom-background);

  --ck-color-button-on-background: var(--ck-custom-foreground);
  --ck-color-button-on-hover-background: hsl(255, 4%, 16%);
  --ck-color-button-on-active-background: hsl(255, 4%, 14%);
  --ck-color-button-on-active-shadow: hsl(240, 3%, 19%);
  --ck-color-button-on-disabled-background: var(--ck-custom-foreground);

  --ck-color-button-action-background: hsl(168, 76%, 42%);
  --ck-color-button-action-hover-background: hsl(168, 76%, 38%);
  --ck-color-button-action-active-background: hsl(168, 76%, 36%);
  --ck-color-button-action-active-shadow: hsl(168, 75%, 34%);
  --ck-color-button-action-disabled-background: hsl(168, 76%, 42%);
  --ck-color-button-action-text: var(--ck-custom-white);

  --ck-color-button-save: hsl(120, 100%, 46%);
  --ck-color-button-cancel: hsl(15, 100%, 56%);

  /* -- Overrides the default .ck-dropdown class colors. -------------------------------------- */

  --ck-color-dropdown-panel-background: var(--ck-custom-background);
  --ck-color-dropdown-panel-border: var(--ck-custom-foreground);

  /* -- Overrides the default .ck-splitbutton class colors. ----------------------------------- */

  --ck-color-split-button-hover-background: var(
    --ck-color-button-default-hover-background
  );
  --ck-color-split-button-hover-border: var(--ck-custom-foreground);

  /* -- Overrides the default .ck-input class colors. ----------------------------------------- */

  --ck-color-input-background: var(--ck-custom-background);
  --ck-color-input-border: hsl(257, 3%, 43%);
  --ck-color-input-text: hsl(0, 0%, 98%);
  --ck-color-input-disabled-background: hsl(255, 4%, 21%);
  --ck-color-input-disabled-border: hsl(250, 3%, 38%);
  --ck-color-input-disabled-text: hsl(0, 0%, 78%);

  /* -- Overrides the default .ck-labeled-field-view class colors. ---------------------------- */

  --ck-color-labeled-field-label-background: var(--ck-custom-background);

  /* -- Overrides the default .ck-list class colors. ------------------------------------------ */

  --ck-color-list-background: var(--ck-custom-background);
  --ck-color-list-button-hover-background: var(--ck-custom-foreground);
  --ck-color-list-button-on-background: hsl(208, 88%, 52%);
  --ck-color-list-button-on-text: var(--ck-custom-white);

  /* -- Overrides the default .ck-balloon-panel class colors. --------------------------------- */

  --ck-color-panel-background: var(--ck-custom-background);
  --ck-color-panel-border: var(--ck-custom-border);

  /* -- Overrides the default .ck-toolbar class colors. --------------------------------------- */

  --ck-color-toolbar-background: var(--ck-custom-background);
  --ck-color-toolbar-border: var(--ck-custom-border);

  /* -- Overrides the default .ck-tooltip class colors. --------------------------------------- */

  --ck-color-tooltip-background: hsl(252, 7%, 14%);
  --ck-color-tooltip-text: hsl(0, 0%, 93%);

  /* -- Overrides the default colors used by the ckeditor5-image package. --------------------- */

  --ck-color-image-caption-background: hsl(0, 0%, 97%);
  --ck-color-image-caption-text: hsl(0, 0%, 20%);

  /* -- Overrides the default colors used by the ckeditor5-widget package. -------------------- */

  --ck-color-widget-blurred-border: hsl(0, 0%, 87%);
  --ck-color-widget-hover-border: hsl(43, 100%, 68%);
  --ck-color-widget-editable-focus-background: var(--ck-custom-white);

  /* -- Overrides the default colors used by the ckeditor5-link package. ---------------------- */

  --ck-color-link-default: hsl(190, 100%, 75%);
}
html[data-theme="dark"] .card {
  background-color: var(--background-color-secondary);
  color: var(--text-color-primary) !important;
}
html[data-theme="dark"] .card-header {
  background-color: var(--background-color-secondary) !important;
  color: var(--text-color-primary) !important;
}
html[data-theme="dark"] .form-control {
  background-color: var(--background-color-secondary) !important;
  color: var(--text-color-secondary) !important;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  border: 1px solid var(--border-color);
}

html[data-theme="dark"] .form-control::placeholder {
  color: var(--placeholder-color) !important;
}

html[data-theme="dark"] .form-control::-ms-input-placeholder {
  color: var(--placeholder-color) !important;
}

/* html[data-theme=dark] .form-label{
    color: #c2c2d9 !important;
} */
html[data-theme="dark"] .table {
  --bs-table-color: #fff;
  --bs-table-bg: #1e1e2d;
  --bs-table-border-color: #4d5154;
  --bs-table-striped-bg: #2c3034;
  --bs-table-striped-color: #fff;
  --bs-table-active-bg: #373b3e;
  --bs-table-active-color: #fff;
  --bs-table-hover-bg: #323539;
  --bs-table-hover-color: #fff;
  color: var(--bs-table-color);
  border-color: var(--bs-table-border-color);
}

html[data-theme="dark"] .loading-screen {
  background-color: var(--background-color-secondary);
}
